[server default]
user=root
password=password
manager_workdir=/etc/masterha
manager_log=/etc/masterha/manager.log
master_binlog_dir=/data/logs
remote_workdir=/etc/masterha
ssh_user=root
repl_user=repl
repl_password=password
ping_interval=3
master_ip_failover_script=/etc/masterha/master_ip_failover

[server1]
hostname=192.168.2.56
port=3306
master_binlog_dir=/data/logs
check_repl_delay=0
candidate_master=1

[server2]
hostname=192.168.2.55
port=3306
master_binlog_dir=/data/logs
candidate_master=1

[server3]
hostname=192.168.2.57
port=3306
master_binlog_dir=/data/logs
no_master=1
ignore_fail=1
